<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <%= Whistle.Program.mount(WhistleChat.ProgramRouter, "chat", %{}) %>
  <script src="/js/whistle.js"></script>
  <script>
    let socket = Whistle.open(`ws://${window.location.host}/ws`);

    socket.on("disconnect", function() {
      // do something, Whistle will try to reconnect
    });

    socket.on("connect", function() {
      let chat = socket.getProgram("chat");

      chat.on("message", function(payload) {
      });

      chat.addHook("form", {
        creatingElement: function(node) {
          node.addEventListener("submit", function() {
            setTimeout(function() {
              var messages = document.querySelector(".messages");
              messages.scrollTop = messages.scrollHeight;
            }, 150);
          });
        }
      });
    });
  </script>
</body>
</html>
